<h1>Your order summary</h1>
{{> addons noDeleteBtn=true}}
<a href="/order/thanks" class="btn"><img src="/images/shopping-cart.png" class="cart-img" alt="">Finish my order!</a>
{{> cookie-preview}}
{{> go-home}}